<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>My Website Text</h1>

    <h1>My Website Text: {{text}}</h1>

    {% if AppInfo != undefined %}
    <h2>Home Information</h2>
    <p>ID: {{AppInfo.app_id}}</p>
    <p>Name: {{AppInfo.app_name}}</p>
    {% endif %}

    {% if data != undefined %}
    <h2> Data: </h2>
    <table border = "1">
        {% for key, value in data.items() %}
        <tr>
            <th> {{key}} </th>
            <td> {{value}} </td>
        </tr>
        {% endfor%}
    </table>
    {% endif %}
</body>
</html>